.App {
  text-align: center;
}
.splitScreen{
 
  display:flex;
  flex-direction: row; 
  height: 100vh;
} 
.card{
 flex:70%;
 background-color: #E1DDFF ;

}
.email{
  flex:30%;
  background-color: #E1ddff;
 
}
